@mixin ll {
    color: blue;
}
.common {
    height: 100px;
    width: 100px;
    background-color: red;
    @include ll;
}

.about {
    height: 100px;
    width: 800px;
    color: blue;
    .title {
        font-size: 18px;
    }
}